{%- liquid
    unless background_position
      assign background_position = 'top center'
    endunless
  
    if collection == blank
      assign collection_title = 'home_page.onboarding.collection_title' | t
    else
      assign collection_title = collection.title | escape
    endif
  
    if collection.image
      assign collection_image = collection.image
    else
      assign collection_image = collection.products.first.featured_media.preview_image
    endif
  -%}
  
  <div class="" {{ block.shopify_attributes }}>
    <a href="{{ collection.url }}" class="">
     <div class="">
        {{ collection_title }}
        <div class="">
        </div>
      </div>
    </a>
  </div>
  